<% if (events.length) { %>

<form id="delete-event-many" action="/event/delete?id=all" method="post"></form>

<table class="table border border-dark p-2">
  <thead>
    <tr class="text-center">
      <th scope="col"><button form="delete-event-many" class="btn btn-outline-danger" type="submit">Del</button></th>
      <th scope="col">Judul</th>
      <th scope="col">Slot</th>
      <th scope="col">Operasi</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <% events.forEach((x, i) => { %>
    <tr class="text-center">
      <th scope="row"><input form="delete-event-many" type="checkbox" name="<%= i %>" class="form-check-input" value="<%= x.id %>"></th>
      <td>
        <a class="text-decoration-none" href="/reservation/<%= x.id %>"><%= x.title %></a>
      </td>
      <td>
        <%= x.quantity %>
      </td>
      <td>
        <form id="delete-<%= x.id %>" method="post" action="/event/delete?id=<%= x.id %>"></form>
        <a class="btn btn-outline-warning btn-sm" role="button" href="/event/update?select=<%= i %>">ubah</a>
        <button class="btn btn-outline-danger btn-sm" type="submit" form="delete-<%= x.id %>">hapus</button>
        <a role="button" href="?select=<%= i %>" class="btn btn-outline-primary btn-sm">peserta</a>
      </td>
    </tr>
  <% }); %>
  </tbody>
</table>
<% } else { %>
<h2 class="border border-dark p-2">Kamu belum membuat event!</h2>
<% } %>
