<%- include('../components/header') %>

<div class="container">
  <div>
    <h1><%= message %></h1>
    <h1 style="text-align: center;">Buat Event</h1>

    <form action="update?id=<%= id %>" method="post">
      <p>
        <label for="title">Judul:</label>
        <input name="title" type="text" value="<%= body.title || '' %>"/>
      </p>
      <p>
        <label for="description">Deskripsi:</label>
        <input name="description" type="text" value="<%= body.description || '' %>"/>
      </p>
      <p>
        <label for="startTime">Mulai:</label>
        <input name="startTime" type="datetime-local" value="<%= body.startTime || '' %>"/>
      </p>
      <p>
        <label for="endTime">Berakhir:</label>
        <input name="endTime" type="datetime-local" value="<%= body.endTime || '' %>"/>
      </p>
      <p>
        <label for="quantity">Kuantitas:</label>
        <input name="quantity" min="0" type="number" value="<%= body.quantity || 1 %>"/>
      </p>
      <p>
        <input type="submit" />
      </p>
    </form>
  </div>
</div>

<%- include('../components/footer') %>
